<div class="contact-warp">
  <div class="section-title mb-0">
    <h2>Contact</h2>
  </div>
  <p>Spotify AB, which is publicly traded in the NYSE through Luxembourg-domiciled holding company Spotify Technology S.A., itself a constituent of the Russell 1000 Index. </p>
  <ul>
    <li>Perungudi Main Road , No 25/11</li>
    <li>+91 9192314567</li>
    <li>contact@spotify.com</li>
  </ul>
  <form class="contact-from">
    <div class="row">
      <div class="col-md-6">
        <input type="text" placeholder="Your name">
      </div>
      <div class="col-md-6">
        <input type="text" placeholder="Your e-mail">
      </div>
      <div class="col-md-12">
        <input type="text" placeholder="Subject">
        <textarea placeholder="Message"></textarea>
        <button class="site-btn">send message</button>
      </div>
    </div>
  </form>
</div>
