<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav class="navbar navbar-expand-md navbar-blue">
          <!-- <a><span class="site-name">Spotify</span></a> -->
          <img src = "../../assets/images/logo.png">
          <button class="navbar-toggler ml-auto custom-toggler"type="button"data-toggle="collapse"
            (click)="isCollapsed= !isCollapsed">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse"[ngbCollapse]="isCollapsed"id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="navbar-link"><a routerLink = "/">Home</a></li>
              <li class="navbar-link"><a routerLink = "/">News</a></li>
              <li class="navbar-link"><a routerLink = "/">Concerts</a></li>
              <li class="navbar-link"><a routerLink = "/">Tracks</a></li>
              <li class="navbar-link"><a routerLink = "/feedback">About</a></li>
              <li class="navbar-link"><a routerLink = "/feedback">Feedback</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

