<section class="intro-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title">
          <h2>Free Music</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <p>Spotify AB, which is publicly traded in the NYSE through Luxembourg-domiciled holding company Spotify Technology S.A., itself a constituent of the Russell 1000 Index.</p>
        <a href="#" class="site-btn">Try it now</a>
      </div>
    </div>
  </div>
</section>
