  <nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
      <img src="../../assets/images/DP.jpg" />
      <h2>Vignesh</h2>
    </header>
    <ul>
      <li tabindex="0" class="icon-dashboard" routerLink = "/"><span>Home</span></li>
      <li tabindex="0" class="icon-customers"><span>Artists</span></li>
      <li tabindex="0" class="icon-users"><span>About</span></li>
      <li tabindex="0" class="icon-settings"><span>Settings</span></li>
      <li tabindex="0" class="icon-settings" routerLink = "/feedback"><span>Feedback</span></li>
      <li tabindex="0" class="icon-settings"><span>Contact</span></li>
      <li tabindex="0" class="icon-settings"><span>Concerts</span></li>
    </ul>
  </nav>
  <div class = "col2">
    <router-outlet></router-outlet>
  </div>

