<section class ="hero-section">
  <div class="hero-slider ">
    <div class="hs-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="hs-text">
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <h2><span>Music</span> for everyone.</h2>
              <p>Spotify AB, which is publicly traded in the NYSE through Luxembourg-domiciled holding company Spotify Technology S.A., itself a constituent of the Russell 1000 Index. </p>
              <a href="#" class="site-btn">Download Now</a>
              <a href="#" class="site-btn sb-c2">Start free trial</a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="hr-img">
              <img src="../assets/images/hero-bg.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
