.hero-section
{
	overflow: hidden;
}

.hs-item
{
	height: 724px;
	padding-bottom: 90px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #0a183d;
}

.hs-item h2
{
	color: #fff;
	font-size: 70px;
	margin-bottom: 25px;
	line-height: 0.9;
	position: relative;
	top: 50px;
}

.hs-item h2 span
{
	color: #fc0254;
}

.hs-item p
{
  overflow:visible !important;
  color: #ffffff;
  margin-bottom: 50px;
	position: relative;
	top: 50px;
}

.hs-item .site-btn
{
	position: relative;
	top: 50px;
	margin-bottom: 20px;
}

.hs-item .sb-c2
{
	margin-left: 8px;
}

.hs-item .hs-text
{
	padding-top: 90px;
	max-width: 475px;
}

.hr-img img
{
	min-width: 602px;
	position: relative;
	left: -34px;
	top: 50px;
}


